@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    box-sizing: border-box;
}


:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);

}

/* ==========
 TYPOGRAPHY
 ========== */


 p{
    font-family:'Lexend Deca',sans-serif;
    font-weight: 400;
    color: var(--Transparent-white);
    line-height: 1.5rem;
 }
 h1{
    font-family: 'Big Shoulders Display',cursive;
    font-weight: 700;
    color:var(--Very-light-gray);
 }

 /* ==========
 LAYOUT
 ========== */
 body{
    background-color: var(--Very-light-gray);
    font-size: 15px;
 }

 main{
    margin: 6rem auto;
    display: flex;
    border-radius: 10px;
    width: 60%;
 }
 button{
    background-color: var(--Very-light-gray);
    border-radius: 25px;
    padding:0.75rem 2rem;
    cursor: pointer; 
    border: var(--Transparent-white);
 }


 .sedan_button{
   color: var(--Bright-orange);
 }
 .suv_button{
   color: var(--Dark-cyan);
 }
 .luxury_button{
   color: var(--Very-dark-cyan);
 }

 button:hover{
   background: none;
   border: 2px solid var(--Transparent-white);
   color:var(--Transparent-white)
 }
 .butt{
    display: flex;
    justify-content: center;
    padding: 3.5rem 0 1rem 0;
 }

 .sedans{
    background-color: var(--Bright-orange);
    border-radius: 10px 0 0 10px;
 padding: 2rem;
 width: 50%;
 }

 .suvs{
    background-color:var(--Dark-cyan);
    padding: 2rem;
    width: 50%;
 }
 .luxury{
    background-color: var(--Very-dark-cyan);
    border-radius: 0 10px 10px 0;
    padding: 2rem;
    width: 50%;
 }

 @media only screen and (max-width:900px) {
    main{
        display: block;
        width:80%;
        padding: 10px;
    }
    .sedans{
      border-radius: 10px 10px 0 0;
    }
    .luxury{
      border-radius: 0 0 10px 10px;
    }
 }

 .attribution{
   text-align: center;
 }